Html {
    box-sizing: border-box;
}

*,* ::after, *::before {
    box-sizing: inherit;
}

#container {
    margin: auto;
    width: 1000px;
    font-family: Helvetica, sans-serif;
}

.userContainer {
    width:300px;
    border: 1px solid gray;
    margin:auto;
    background-color: rgb(228, 222, 222);
}

.userContainerSmall {
    width:200px;
    border: 1px solid gray;
}

#goingCounter {
    width: 100%;
    margin: auto;
    display:flex;
    justify-content:space-between;
    border-bottom: 1px solid gray;
}

#goingCounter a {
    text-decoration:none;
}

.RandomUser {
    width: 100%;
    background-color: rgb(228, 222, 222);
    border-bottom: 1px solid gray;
    
}

.RandomUser span {
    font-weight: bold;
    margin-left: 10px;
}

.imageDiv {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    border-bottom: 1px solid gray;

}

img {
    border-radius: 50%;
    border: 1px solid gray;
    margin: auto;
}

#goingButtons {
    display:flex;
    justify-content: space-between;
    margin: 20px;
    
}

#goingButtons button {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}

#goingButton {
    background: rgb(56, 160, 56);
    margin-left: 30px;
}

#notGoingButton {
    background: rgb(190, 23, 23);
    margin-right: 30px;
}

.userList {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;

}

